@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    font-family: kaushan script;
    background-color: rgb(75, 83, 76);
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(122, 211, 134);
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}
.menu-list{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.menu-list li a{
    text-decoration: none;
    color: black;
}
.menu-list li a:hover{
    color: cadetblue;
}
.nossoservico{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffffd8;
    border-radius: 10px;
}
.container-servico{
    background-color: rgb(122, 211, 134);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.text-center{
    display: flex;
    justify-content: space-around;
}
.servico{
    border-radius: 10px;
    background-color: #ffffffd8;
    margin: 2rem 1rem 2rem 1rem;
    padding: 2rem;
}
.servico h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.servico h4{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.img-servico{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.img-servico img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.servico ul li{
    text-align: left;
    font-family: poppins;
}
.titulo-ofertas{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffffd8;
    border-radius: 10px;
}
.container-ofertas{
    background-color: rgb(122, 211, 134);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.menu-oferta{
    border-radius: 10px;
    background-color: #ffffffd8;
    margin: 2rem 1rem 2rem 1rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
}
.titulo-oferta{
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
.menu-oferta-titulo-descricao{
    border: 1px solid black;
    border-radius: 10px;
}
.titulo-oferta h4{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.descricao-oferta{
    display: flex;
    flex-direction: column;
}
.p-preco{
    margin: 1rem;
    font-size: 1.5rem;
}
.p-descricao{
    margin: 1rem;
    text-align: center;
    word-break: normal;
    font-family: poppins;
}
.titulo-call-to-action{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffffd8;
    border-radius: 10px;
}
button {
    background-color: #FF6347; /* Laranja */
    border: 2px solid #FF6347;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-in-out;
  }
  
button:hover {
    background-color: #FF4500;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(122, 211, 134);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer-redes-sociais{
    margin-right: 1rem;
}
.footer-redes-sociais-list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}
.footer-redes-sociais-list li a{
    text-decoration: none;
    color: black;
}